# Archivos generales
.DS_Store
.env
.idea/
.vscode/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
build/
dist/
tmp/
*.log
npm-debug.log
.nyc_output/
/coverage

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/
.vscode/
build/
*.iml
*.lock
android/local.properties
android/.gradle
ios/.symlinks
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/flutter_assets
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Runner/AppDelegate.h
ios/Runner/AppDelegate.m
ios/Runner/main.m
ios/Runner/Runner.entitlements
ios/Runner/Info.plist
ios/Runner.xcodeproj/project.pbxproj
ios/Runner.xcodeproj/xcshareddata
ios/Pods/
ios/.build/
web/
# Windows
Thumbs.db
Desktop.ini

# MacOS
.DS_Store

# Linux
*.swp

# Docker
.dockerignore
Dockerfile.bak

# Dependencias de paquetes
pubspec.lock